@import '../../styles/mail.scss';

.form-field {
  width: 40%;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  
  &-label{
    margin: 5px 0px;
    font-weight: bold;
    color: $color-font;
  }
  &-input {
    height: 40px;
    border: none;
    border-radius: 5rem;
    padding-left: 10px;
    outline: none;
  }
}