@import '../../styles/mail.scss';

.header {
  background-color: $color-primary;
  height: 50px;
  display: flex;
  justify-content: space-between;
  
  &-name{
    margin: 5px 20px;
    color: $color-font;
  }

  &-list {
    margin: 5px 30px;
    display: flex;
    align-items: center;

    &-item{
      display: inline;
      margin-left: 30px;
      font-weight: bold;

      a {
        color: $color-font;
      }
    }
  }
 
}
