
.header {
  background-color: #8fbebe;//$color-primary;
  height: 50px;
  display: flex;
  justify-content: space-between;
  
  &-name{
    margin: 5px 20px;
    color: #2a0747;
  }

  &-list {
    margin: 5px 30px;
    display: flex;
    align-items: center;

    &-item{
      display: inline;
      margin-left: 30px;
      font-weight: bold;
    }
  }
 
}
